@import url("https://fonts.cdnfonts.com/css/gt-walsheim-trial");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.debug-border {
  border: 10px solid red;
  z-index: 100;
  background-color: blue;
}

:root {
  --swiper-pagination-color: #fa0c1a;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-bottom-sm: 5px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 7px;
  --swiper-pagination-bullet-width: 7px;
  --swiper-pagination-bullet-height: 7px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;

  --swiper-navigation-size: 22px;
  --swiper-navigation-top-offset: 48%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: white;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 50;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #fa0c1a;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  /* padding: 16px;
  border-radius: 50%; */
  color: gray;
  /* box-shadow: 17px 18px 11px 35px rgba(0, 0, 0, 0.1); */
  box-shadow: none;
}

.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
  box-shadow: none;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  /* padding: 16px;
  background-color: white;
  border-radius: 50%; */
  color: #374151;
  /* border: 1px solid black; */
  box-shadow: none;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  /* padding: 16px;
  background-color: white;
  border-radius: 50%; */
  color: #374151;
  /* border: 1px solid black; */
  /* size: 22px; */
  box-shadow: none;
}
.swiper-button-lock {
  display: none;
}

.sww > .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom-sm);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.trending-swiper {
  --swiper-navigation-size: 26px;
  --swiper-navigation-top-offset: 46%;
  --swiper-pagination-color: gray;
  --swiper-pagination-bullet-inactive-color: gray;
  --swiper-pagination-bottom: 10px;
  --swiper-navigation-sides-offset: 10px;
}
.trending-swiper .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: white;
  size: 20px;
  background-color: transparent;
  border: none;
}

.trending-swiper .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: white;
  size: 20px;
  background-color: transparent;
  border: none;
}

.categories-slider {
  --swiper-navigation-size: 26px;
  --swiper-navigation-top-offset: 56%;
  --swiper-pagination-color: gray;
  --swiper-pagination-bullet-inactive-color: gray;
  --swiper-pagination-bottom: 10px;
  --swiper-navigation-sides-offset: 10px;
}
.categories-slider .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: white;
  size: 20px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.categories-slider .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: white;
  size: 20px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.category-slider {
  --swiper-navigation-size: 26px;
  --swiper-navigation-top-offset: 46%;
  --swiper-pagination-bottom: 0px;
  --swiper-navigation-sides-offset: 10px;
}
.category-slider .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: black;
  size: 20px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.category-slider .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: black;
  size: 20px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.red-slider {
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-inactive-color: #000;
}
.gray-slider {
  --swiper-pagination-color: rgb(191, 191, 191);
  --swiper-pagination-bullet-inactive-color: gray;
}
.red-slider .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: white;
}
.red-slider .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: white;
}
.gray-slider .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: white;
}
.gray-slider .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: white;
}
